{{- $x := . -}}
{{- range .Tape.Vertices -}}
  {{- if .Internal -}}
  {{- else if .Cached -}}
{{- Foreground "4" $x.VertexSymbol -}}
  {{- else if .Completed -}}
{{- Foreground "2" $x.VertexSymbol -}}
  {{- else if .Started -}}
{{- Foreground "3" $x.Spinner -}}
  {{- end -}}
{{- end -}}
{{- with .Tape.RunningVertex -}}
  {{- if .Internal -}}
{{- " " -}} {{- Foreground "8" .Name -}}
  {{- else -}}
{{- " " -}} {{- Bold .Name -}}
  {{- end -}}
  {{- $activity := $x.Tape.Activity . -}}
{{- if or $activity.LastLine $activity.TaskBarsTotal -}}
{{- ":" -}}
{{- end -}}
  {{- if $activity.TaskBarsTotal -}}
{{- " " -}}
{{bar $activity.TaskBarsCurrent $activity.TaskBarsTotal}}
  {{- end -}}
  {{- with $activity.LastLine -}}
{{- " " -}}
{{$activity.LastLine}}
  {{- end -}}
{{- end -}}
{{- " " -}}
