{{.Spinner.ViewFancy}} Playing ({{.Tape.CompletedCount}}/{{.Tape.TotalCount}})
{{- Foreground "8" " • " -}}
{{- range .Infos -}}
{{- Bold .Name}}: {{.Value}} {{- Foreground "8" " • " -}}
{{- end -}}
{{- .Help -}}
