{{.Spinner}} Playing ({{.Tape.CompletedCount}}/{{.Tape.TotalCount}})
{{- range .Infos -}}
{{- Foreground "8" " • " -}} {{- Bold .Name}}: {{.Value}}
{{- end -}}
{{- with .Help -}}
{{- Foreground "8" " • " -}} {{- . -}}
{{- end -}}
